
@import '~@fortawesome/fontawesome-free/css/all.css';


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mr-auto {
  margin-left: 15%;
}


.socials{
  background-color:#2E8B57;
  color: white;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 5%;
}

.socialLinks{
  display: flex;
  justify-content: space-evenly;
}

.nav-item{
  color: black;
}

.nav-item:hover {
  color: #0096FF  !important;
}

.nav-link:hover {
  color:  #0096FF !important;
}

.nav-item .nav-link{
  color: black;
}

.navbackground{
  background-color: white;
}


.icon {
  color: #0096FF; 
  padding-top: 3%;
}


.dropdown-menu-dark .dropdown-item.yellow-background {
  background-color: #ffff00;
  color: black;
}


@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

:root {
	--mainColor: #29335c;
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
	--textColor: #eee;
}



/* Add this to your CSS or SCSS file */
.card-hover:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
}

nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
}

nav a:hover {
	color: var(--secondaryColor);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
	}

	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}

@media (max-width: 768px) {
  .service {
    margin-bottom: 20px;
  }

  .img-fluid {
    width: 100%;
    margin-bottom: 20px;
  }

  .order-md-2.order-1 {
    order: 1;
    margin-left: 0px;
  }
}

.banner {
  background-image: url('./assets/background.jpeg');
  background-size: cover; /* Resize the background image to cover the entire container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; 
  width: auto;
  transform: translate3d(0, 0, 0);
  height: 500px;/* Prevent the background image from repeating */
}
.bannerContainer {
  display: flex;
  align-items: center;
}

.imageContainer {
  margin-right: 20px; /* Adjust the spacing between image and text as needed */
}

.textContainer {
  flex-grow: 1;
}

.banner >h4{
  padding-top: 30%;
  color: black;
  
}

.banner > p{
  color: black;
  opacity: 0.5;
}

/* Custom CSS for responsive adjustments */
@media (max-width: 768px) {
  .carousel {
    height: 300px; /* Adjust the height for smaller screens */
  }
}

@media (max-width: 576px) {
  .carousel {
    height: 200px; /* Adjust the height for even smaller screens */
  }
}
@media (max-width: 768px) {
  .dropdown-menu .dropdown-item {
    color: black !important;
  }

  /* Use a more specific selector to override the media query rule */
  .dropdown-menu .dropdown-item.custom-dropdown-item {
    color: red; /* Your desired color for dropdown items on smaller screens */
  }
}


.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.card:hover .card-image {
  transform: scale(1.1); /* Increase the scale on hover */
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.no-border-card{
  border: none;
}

/* App.css */

.service {
  position: relative;
  display: inline-block;
  font-weight: normal;
  /* color: #0096FF; */
}

.service::after {
  content: '';
  position: absolute;
  width: 50%; /* Adjust the width of the line */
  height: 2px; /* Adjust the thickness of the line */
  background-color: black; /* Set the color of the line */
  bottom: 0;
  left: 25%; /* Adjust the position of the line */
  margin-top: 5px; /* Adjust the space between the line and text */
}



.services{
  background-color: white;
}


/* Add this to your CSS or SCSS file */
.services:hover {
  background-color: #f4f4f4; /* Change this to your desired hover background color */
}


/* workwithus section */
body{margin-top:20px;}
.rounded-circle {
    border-radius: 50% !important;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

.sub-info{
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: orange;
}

.display-30 {
    font-size: 0.9rem;
}

.circle-number {
  display: none;
}


.rounded-circle-div {
  width: 80px;
  height: 80px;
  background-color: #ccc; /* Set your desired background color */
  border-radius: 50%;
}

/* Services.css */

/* App.css */

.btn-orange {
  background-color: green;
  color: white;
}

.btn-orange:hover {
  background-color: darkgreen; /* Change color on hover if desired */
}




.btn-hover:hover {
  background: black; 
  color: white; 
}

.footer{
  display: flex;
  padding-top: 15rem;
}


.hover-black:hover {
  color: black;
}

.employee-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.employee-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.employee-details {
  padding: 15px;
}

h2 {
  margin: 0;
}

.position p {
  color: #0096FF; 
  margin-top: 5px;
}


/* EmployeeGrid.css */

.grid-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.grid-item {
 
  padding: 10px;
  text-align: center;
}



.fa-icon {
  color: #0096FF;
}
.text {
  font-size: 20px;
  padding-left: 20px; /* Adjust the padding to your preference */
}

.wrapper{
  margin:100px auto;
  width: 70%;
}

.img1{
  max-width: 320px;
  float: left ;
  border: 3px solid white;
  border-radius: 10px;
  margin-right: 15px;
}

.img2{
  max-width: 320px;
  float: right ;
  border: 3px solid white;
  border-radius: 10px;
  margin-right: 15px;

}

.text-box{
  color:black;
}

.text-box h2{
  font-size: 42px;
}

.text-box p {
  font-size: 16px;
}



.advantage-list {
  list-style: none;
  padding-left: 20px;
  margin-bottom: 20px;
}

.feature-list {
  list-style: none;
  padding-left: 20px;
  margin-bottom: 10px;
}

.feature-list li:before {
  content: '\f058'; /* Unicode for FontAwesome check-circle icon */
  margin-right: 10px;
  font-family: 'Font Awesome 5 Free'; /* FontAwesome font-family */
  color: #3498db; /* You can customize the color */
  font-size: 1.2em; /* Adjust the font size as needed */
}



.learn-more-button {
  /* your existing styles */

  /* add these styles for the blue button */
  background-color: #3498db;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* additional class for the blue button */
.blue-button {
  background-color: #3498db;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



.bg-green {
  background-color: #0096FF;
}





/* styles.css */
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 16px; /* Adjust the gap between images */
}

.gallery-item {
  overflow: hidden;
  border-radius: 8px;
}





.Gallery1 img{
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.2s;

}

.Gallery1 img:hover{
  transform: scale(1.1);

}


.About img{
  width: 100%;
  height: 80%;
  border-radius: 8px;
  transition: transform 0.2s;

}





















.quote-section {
  position: relative;
}

.quote-section::before {
  content: '\201C'; /* Unicode character for left double quotation mark */
  position: absolute;
  top: 0;
  left: -20px; /* Adjust the distance as needed */
  font-size: 3rem; /* Adjust the size as needed */
  color: #0096FF; /* Adjust the color as needed */
}
















/* Add this to your CSS or SCSS file */
.card:hover {
  background-color: #0096FF; /* Background color on hover */
  transition: background-color 0.3s ease; /* Transition effect */
}

.card:hover .icon {
  color: white; /* Color of icons on hover */
}

.card:hover .card-title,
.card:hover .card-text {
  color: white; /* Color of text on hover */
}

.card:hover .read-more-btn {
  background-color: #2e8b57; /* Green button background color on hover */
  border-color: #2e8b57; /* Green button border color on hover */
  color: white; /* Text color of button on hover */
}




























@media screen and (max-width: 768px) {
  .loans-container {
    display: flex;
    flex-direction: column-reverse;
  }
}













div.SubjectsBox {
  border: solid orange 1px;
  margin-left: 3%;
  margin-right: 3%;
}

div.Subjects {
  border: solid purple 1px;
  display: table-cell;
  color: white;
}
















































.image-card {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-card:hover .overlay {
  opacity: 1;
}

.image-card .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
}
.remove-button {
  display: none;
}

.offscreen {
  position: absolute;
  left: -10000px;
}

.split-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  gap: 1rem;
}

.flex-col {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.35rem;
  width: 100%;
}

input:invalid {
  outline: 2px solid red;
  background-color: rgb(255, 255, 139);
}


/* || GENERAL STYLES */

/* body {
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
  background:  green;
  padding: 1rem;
} */

input,
button,
textarea,
select {
  font: inherit;
}

#root {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.progress-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: whitesmoke;
  position: relative;
}

.barmarker-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.barmarker {
  width: 100%;
  display: grid;
  place-content: center;
}

.barmarker:is(:not(:last-child)) {
  border-right: 1px solid #000;
  
}

.progress {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 32px;
  margin-top: 5px;
}

.progress::-webkit-progress-bar {
  background-color: lightcoral;
  border-radius: 10px;
}

.progress::-webkit-progress-value {
  background-color: limegreen;
  border-radius: 10px;
}

.progress::after {
  content: attr(value) '%';
  position: absolute;
  width: 56px;
  top: 53%;
  left: 50%;
  margin-left: -28px;
  font-weight: bold;
}

.form {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 0.75rem;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: whitesmoke;
  margin-bottom: 7%;
}

.form-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.button-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
}

.button {
  padding: 0.5rem;
  border-radius: 10px;
}

.button:focus {
  outline: 2px solid gold;
}

input,
select {
  padding: 0.5rem;
  border-radius: 10px;
  width: 100%;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin-right: 0.5rem;
}

ul {
  list-style-type: none;
  margin-bottom: 1rem;
}